
#header{width: 100%; height: 50px; padding: 30px 0; background: red;}
#content{}
#main-slick-wrap{width: 100%; height: 1000px; background: orange;}
.oven-menu{width: 100%; height: 682px; padding: 100px 0; background: yellow;}
.goobnews{width: 100%; height: 934px; padding-top: 230px; background: green;}
.goobster{width: 100%; height: 624px; padding-top: 230px; background: blue;}
.goobtube{width: 100%; height: 627px; padding-top: 230px; background: indigo;}
#footer{width: 1700px; height: 202px; margin-top: 150px; padding: 0 8px 85px 8px; background: rgb(128, 0, 64);}