
/* layout */
#header{width: 100%; padding: 3rem 0; background: transparent;  position: absolute; top: 0; left: 0; z-index: 999; }
#header.drop{position: fixed; animation: dropheader 0.3s; background: var(--base-beige);}
#content{display: flex; flex-direction: column;}

@keyframes dropheader {
  0%{top: -14rem;}
  100%{top: 0rem;}
}

/* header */
#header>.inner{padding-top: 2rem; background: none;}
.header{height: 100%;}
.menu ul{margin: 0 !important;}
.menu ul li{margin-right: 7rem;}
.menu ul li a{display: block; font-size: 2rem; font-weight: 600;}

.order{position: relative;}
.order-ob-wrap{padding-top: 4rem; box-sizing: border-box; position: absolute; top: 0; left: -150%; display: none;}
.order-ob{width: 30rem; height: 6.5rem; background: #fff; border-radius: 6px; border: 1px solid #000; display: flex; align-items:center; justify-content: center; box-sizing: border-box;}
.order:hover>.order-ob-wrap{display: block;}
.order-ob>button{height: 3rem; font-weight: 800; margin-right: 2rem; padding: 1rem 0; box-sizing: content-box; background: #fff; font-size: 1.6rem; cursor: pointer; display: block; display: flex; align-items: center;}
.order-ob>button img{width: 2.5rem; height: 2.5rem; margin-right: 0.5rem;}


.more-btn{width: 30px; height: 19px; position: relative;}
.more-btn-wrap{width: 100%; height: 100%;}

.bar{display: block; width: 100%; height: 0.4rem; background: var(--base-black); position: absolute; transition: 0.3s;}
.bar1{top: 0;}
.bar1.toggle{top: 50%; margin-top: -1px; transform: rotate(45deg);}
.bar2{top: 50%;}
.bar2.toggle{opacity: 0;}
.bar3{top: 100%;}
.bar3.toggle{top: 50%; margin-top: -1px; transform: rotate(-45deg);}

/* aside */
.aside{overflow: hidden;}
.aside-bg{width: 100%; height: 100vh; position: fixed; top: 0; left: 0; background: rgba(0, 0, 0, 0.3); z-index: 9999;}
.aside-lnb{position: fixed; top: 0; right: -50rem; z-index: 1001; max-width: 50rem; height: 100vh; background: var(--base-red); width: 90%; transition:  0.5s; z-index: 99999;}
.aside-lnb.active{right: 0; }
.aside-inner{padding: 3rem; padding-left: 7rem; max-height: 100vh; overflow-y: scroll; overflow-x: hidden;}
.aside-inner .aside-close{display: flex; width: 3rem; height: 3rem; background: url(../img/more_menu/a-close.svg); margin-left: auto; margin-bottom: 3.2rem; background-size: cover; cursor: pointer;}
.aside-inner .aside-login{display: flex; align-items: center; margin-bottom: 7.3rem;}
.aside-inner .aside-login a{font-size: 2rem; font-weight: 500; color: var(--base-white);}
.aside-inner .aside-login .login-bar{display: inline-block; width: 1px; height: 1.2rem; background: var(--base-white); margin: 0 2rem;}
.lesserafim_banner{display: block; width: 100%; margin-left: -7rem; margin-bottom: 7rem;}
.aside_scroll>ul{margin-bottom: 7.2rem;}
.aside_scroll>ul>li{margin-bottom: 3rem;}
.aside_scroll>ul>li>a{display: inline-block; font-size: 2.7rem; font-weight: 800; color: var(--base-white);}

.depth>a{background: url(../img/more_menu/a-lnb-arrow.svg) no-repeat center right; background-size: 2.2rem; padding-right: 4rem;}
.depth>a.active{background: url(../img/more_menu/a-lnb-arrow-on.svg) no-repeat center right; background-size: 2.2rem;}
.depth>ul{margin-top: 2.5rem;}
.depth>ul>li{margin-bottom: 1.7rem;}
.depth>ul>li>a{font-size: 1.8rem; font-weight: 400; color: #c3c3c3;}

.aside_scroll .aside-num{padding-bottom: 3rem;}
.aside_scroll .aside-num dt{font-size: 2.2rem; font-weight: 700; color: var(--base-white); margin-bottom: 1.2rem;}
.aside_scroll .aside-num dd{font-size: 2.2rem; font-weight: 500; color: var(--base-white);}

/* aside 스크롤바 */
.aside-inner::-webkit-scrollbar {
  width: 10px;
}
.aside-inner::-webkit-scrollbar-thumb {
  background-color: #2f3542;
  border-radius: 10px;
  background-clip: padding-box;
  border: 2px solid transparent;
}
.aside-inner::-webkit-scrollbar-track {
  background-color: grey;
  border-radius: 10px;
  box-shadow: inset 0px 0px 5px white;
}


/* banner */
.main-slick-wrap:hover{cursor : url(../img/Frame01.png), auto;}
.main-vi-wrap img:hover{cursor : url(../img/Frame01.png), auto;}
.banner-bg{width: 100%; position: relative; position: relative;}
.banner-bg img.banner-bg-img{height: 100vh;}
.banner-bg img{width: 100%; height: auto; display: block; }
.banner-img{width: 80%; position: absolute; top: 50%; left: 50%; vertical-align: middle; max-width: 1400px; margin: auto; transform: translate(-50%, -50%);}
.banner-img a img{display: inline-block;}

.banner-bg2{background-color: var(--base-beige); text-align: center; height: 100vh;}
.banner-bg2>.banner-text{color: #D4000B; font-weight: 700; -webkit-text-stroke: 1px #D4000B; font-family: 'Rubik'; text-align: center; letter-spacing: 0.8px;  position: relative;}
.banner-bg2>.banner-text p{font-size: 7rem; text-shadow: 5px 0px rgb(0, 0, 0); line-height: 1.5; position: relative; display: inline-block;}
.banner-text p.first{margin-top: 15rem;}
.banner-bg2 .banner-img2{position: relative; display: inline-block; text-align: center; width: 120rem;}
.banner-bg2 .banner-img2>img{width: 100%; height: auto; display: block; }
.banner-bg2 .banner-img2 .goobne-btn.btn1{width: 280px; height: 220px; background: url(../img/banner/chi/main_bg_icon_01.png) no-repeat; background-size: 100%; position: absolute; top: 11rem; left: -7rem; display: block; text-align: center; animation: updown 2s forwards ease-in-out infinite;}
.banner-bg2 .banner-img2 .goobne-btn span{display: inline-block; font-size: 2.1rem; transform: rotate(-27deg); margin-bottom: 1rem; font-weight: bold;}
.banner-bg2 .banner-img2 .goobne-btn span em{color: #D4000B; font-weight: 900; font-size: 3.8rem;}
.banner-bg2 .banner-img2 .goobne-btn.btn2{width: 250px; height: 250px; background: url(../img/banner/chi/main_bg_icon_05.svg) no-repeat; background-size: 80%; position: absolute; top: 33rem; right: -7rem; animation: updown 2s forwards ease-in-out infinite;}
.banner-bg2 .banner-img2 .goobne-menu-btn.btn1{background: #AABBFF; width: 17rem; height: 5.5rem; font-size: 2.6rem; transform: rotate(-20deg); position: absolute; top: 45rem; left: 5rem; box-shadow: 5px 5px #000; font-weight: 700;}
.banner-bg2 .banner-img2 .goobne-menu-btn.btn2{background: #FFAC9F; width: 17rem; height: 5.5rem; font-size: 2.6rem; transform: rotate(10deg); position: absolute; top: 14rem; right: 5rem; box-shadow: 5px 5px #000; font-weight: 700;}

.slick-dots{bottom: 10rem;}
.slick-dots li button{opacity: 0.5; background: #fff;  border-radius: 50%; width: 10px; height: 10px;}
.slick-dots li.slick-active{margin-right: 2rem;}
.slick-dots li.slick-active>button{opacity: 1; background: #fff;  border-radius: 50%; border: 5px solid #D4000B; width: 25px; height: 25px; }
.slick-dots li button::before{display: none;}
.slick-dotted.slick-slider{margin: 0;}

@keyframes updown {
  0%{transform: translateY(-15px);}
  50%{transform: translateY(0px);}
  100%{transform: translateY(-15px);}
}


/* oven-menu */
.oven-menu{height: auto;}
.text-wrap{flex-basis: 35%; background: var(--base-white); justify-content: end;}
.text-wrap-1{flex-direction: column; transform: rotate(-90deg); text-align: center;}
.text-wrap-1 span{font-size: 8rem; margin-bottom: 3.5rem; font-weight: bold;  font-family: 'Righteous', cursive;}
.text-wrap-1 span.first{padding-top: 30rem; animation: oven1 2s forwards infinite; }
.text-wrap-1 span.second{animation: oven2 2s forwards ease-out infinite;}
.text-wrap-1 span.third{color: var(--base-red); animation: oven3 2s ease-out infinite;}
.img-wrap{flex-basis: 65%; background: var(--base-beige);}
.img-wrap-1{display: flex; justify-content: center; padding: 20rem 0;}
.food{width: 300px; height: 300px; position: relative; transform: translateY(0); transition: all 1s;}
.food::after{position: absolute; width: 100%; height: 50px; background: rgba(0, 0, 0, 0.5); bottom: 0; left: 0; text-align: center; font-size: 3rem; color: var(--text-white);}
.chicken{background: url(../img/oven_menu/1.jpg) no-repeat center center/cover; margin-bottom: 7rem;}
.chicken::after{content: "chicken";}
.dessert{background: url(../img/oven_menu/3.jpg) no-repeat center center/cover;}
.dessert::after{content: "dessert";}
.img-wrap-1-2{margin: 20rem 7rem 0;}
.pizza{background: url(../img/oven_menu/2.jpg) no-repeat center center/cover; margin-bottom: 7rem;}
.pizza::after{content: "pizza";}
.best_set{background: url(../img/oven_menu/4.jpg) no-repeat center center/cover;}
.best_set::after{content: "best set";}

.oven-mobile{display: none;}

@keyframes oven3 {
  0%{opacity: 0;}
  20%{opacity: 0;}
  40%{opacity: 1;}
  60%{opacity: 1;}
  80%{opacity: 1;}
  100%{opacity: 1;}
}
@keyframes oven2 {
  0%{opacity: 0;}
  20%{opacity: 0;}
  40%{opacity: 0;}
  60%{opacity: 1;}
  80%{opacity: 1;}
  100%{opacity: 1;}
}
@keyframes oven1 {
  0%{opacity: 0;}
  20%{opacity: 0;}
  40%{opacity: 0;}
  60%{opacity: 0;}
  80%{opacity: 1;}
  100%{opacity: 1;}
}


/* goobnew */
.goobnews-pc{padding: 5rem 0; background: var(--base-beige);}
.news-img-wrap{width: 65%;  padding: 4rem 0;}
.news-around-wrap{text-align: center;}
.news-around-wrap h2{font-size: 8rem; color: var(--base-red); margin-top: 5rem;}
.news-around{position: relative; padding: 3rem; display: inline-block; overflow: hidden; height: 35rem;}
.news-img{display: inline-block; width: 40rem; height: 35rem;}
.news-img img{width: 100%; height: 100%;}
.news-around-text-wrap{position: absolute; top: 0; left: 0; width: 100%; height: 100%;}
.news-around-text{height: 3rem; position: absolute; background: var(--base-red);}
.news-around-text:nth-child(1){top: 0; left: 0; z-index: 1;}
.news-around-text:nth-child(2){top: 300%; right: 0; transform-origin: top right; transform: rotate(90deg); z-index: 2;}
.news-around-text:nth-child(3){top: 100%; left: 0; transform-origin: top left; transform: rotate(270deg); z-index: 4;}
.news-around-text:nth-child(4){right: 0; bottom: 0; transform: rotate(180deg); z-index: 3;}
.text-goobne{color: var(--text-white); font-size: 2rem; transform: translateX(0%);}

.news-text-wrap{width: 35%; background: var(--base-white); flex-direction: column;}
.news-title{font-size: 5rem; justify-content: center;}
.news-text{flex-basis: 20%; width: 100%; border: 1px solid #ddd; box-sizing: border-box;}
.news-content.active{background: var(--base-red); width: 130%; transform: translateX(-11.5%);}
.news-text.active p{color: var(--text-white); width: 70rem;}
.news-title h3{font-size: 5rem; margin-bottom: 2rem;}
.news-text p{margin: 0 auto; display: block; width: 55rem; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; font-size: 3rem; }
.goobnews-m{display: none;}

/* goobster */
.goobster{position: relative;}
.goobster-wrap{width: 100%; height: 30rem; display: flex;}
.goobster-bg3{flex-basis: 30%;}
.goobster-bg5{flex-basis: 50%;}
.goobster-bg7{flex-basis: 70%; text-align: center; justify-content: center;}
.goobster-bg7 h2{font-size: 8rem; padding-left: 8.5rem; color: #D4000B;}
.goobster-bg7 h2 img{filter: invert(15%) sepia(92%) saturate(4626%) hue-rotate(349deg) brightness(79%) contrast(116%);}
.goobster-beige{background: var(--base-beige); line-height: 100%;}

.goobster-img{position: absolute; top: 60%; left: 0; transform: translateY(-50%); background: #D4000B; overflow: hidden;}
.goobster-img ul{padding: 2rem 0; position: relative; width: 120%;}
.goobster-img ul li{width: 20%; margin-right: 2rem;}
.goobster-img ul li a{display: block;}
.goobster-img ul li a img{width: 100%; height: 100%;}


/* goobtube */
.goobtube{background: var(--base-beige);}
.goobtube h2{font-size: 8rem; text-align: center; color: var(--base-red);}
.nfmc{overflow: hidden; background: transparent; justify-content: center; height: 9rem; border-top: 1px solid #050000; border-bottom: 1px solid #050000; box-sizing: border-box; margin: 9rem 0;}
.nfmc ul{width: calc(430px * 15);}
.nfmc ul li{justify-content: center; font-size: 3.2rem; font-family: 'Rubik'; font-weight: 600; width: 43rem; animation: textSlide 25s forwards linear infinite;}

@keyframes textSlide {
  100%{transform: translateX(-500%);}
}

.out-in-img.inner{position: relative; background: none;}
.oii{display: none; position: relative; width: 100%; height: 50rem;}
.oii.active{display: block;}
.oii-img, .oii-text{position: absolute; top: 50%; transform: translateY(-50%); transition: all 1.5s;}
.oii-img{left: 5%; opacity: 1;}
.oii-img img{width: 53rem; height: 35rem;}
.oii-text{right: 5%; opacity: 1;}
.oii-text h3{font-size: 4rem;}
.oii-text p{font-size: 2.5rem; margin-top: 2rem;}
.oii-text a{display: block; padding: 1rem 2rem 1.3rem; font-size: 2rem; border: 1px solid #050000; width: 12rem; border-radius: 10px; background: #fff; font-weight: 500; margin-top: 2rem; text-align: center;}

.prev_arrow, .next_arrow{position: absolute; width: 40px; height: 65px; top: 50%; transform: translateY(-50%); cursor: pointer;}
.prev_arrow{left: 0; background: url(../img/goobtube/Vector\ 2.png) no-repeat;}
.next_arrow{right: 0; background: url(../img/goobtube/Vector.png) no-repeat;}


/* footer */
.footer{background: #212121;}
.footer>.inner{background: none;}

.footer-up{padding: 3.5rem 0 3rem; border-bottom: 1px solid rgba(255, 255, 255, 0.5);}

.fnumber>ul{overflow: hidden; margin-top: 1rem;}
.fnumber>ul>li{float: left; margin-right: 2rem;}
.fnumber>ul>li>p{display: inline-block; vertical-align: middle;  color: var(--text-white);}
.fnumber>ul>li>.sub-text{font-size: 1.9rem; font-weight: 600; margin-right: 0.5rem;}
.fnumber>ul>li>.tel{font-size: 3.3rem; font-weight: 900;}

.ftext{margin-top: 2.5rem;}
.ftext>ul>li>a{display: block; margin-right: 2rem; font-size: 1.5rem; font-weight: 700; color: var(--text-white);}

.ficon{margin-top: 2rem;}
.ficon>ul>li{margin-right: 1.5rem;}
.ficon>ul>li>a{display: block;}


.footer-down{padding: 2.5rem 0 2rem; overflow: hidden;}
.footer-down>ul{overflow: hidden; display: inline-block;}
.footer-down>ul>li{float: left; position: relative; margin-right: 2rem; font-size: 1.1rem; color: var(--text-white); font-weight: 700;}
.footer-down>ul>li:not(:last-child)::after{content: ""; position: absolute; top: 3px; right: -10px; width: 2px; height: 13px; background: rgba(255, 255, 255, 0.5);}
.footer-down>ul>li>address{font-style: normal;}
.footer-down>p{font-size: 1.1rem; color: var(--text-white); font-weight: 700; float: right;}







@media screen and (max-width: 1800px) {
  .img-wrap-1{ padding: 10rem 0;}
  .text-wrap-1 span{font-size: 5rem;}
  .text-wrap-1 span.first{padding-top: 18rem;}
  .food{width: 20rem; height: 20rem;}
  .food::after{height: 4rem; font-size: 2rem;}
  .chicken{margin-bottom: 4rem;}
  .pizza{margin-bottom: 4rem;}
  .img-wrap-1-2{margin: 15rem 4rem 0;}

  /* goobnews */
  .goobnews-pc{padding: 5rem 0;}
  .news-around-wrap h2{margin: 1rem 0; font-size: 6rem;}
  .news-title h3{font-size: 5rem; margin: 2rem 0;}
  .news-text.active p{width: 55rem;}
  .news-text p{width: 45rem;}

  /* goobster */
  .goobster-wrap{height: 25rem;}

  /* footer */
  .footer-down>p{float: none; margin-top: 1.5rem;}
}

@media screen and (max-width: 1600px) {
  /* goobtube */
  .goobtube h2{font-size: 6rem;}
  .nfmc{ margin: 4rem 0; height: 8rem;}
  .nfmc ul li{font-size: 3rem; width: 40rem;}

  .oii{height: 40rem;}
  .oii-img img{width: 48rem; height: 30rem;}
  .oii-text h3{font-size: 2.8rem;}
  .oii-text p{font-size: 2.3rem; margin-top: 1.8rem;}
  .oii-text a{padding: 0.7rem 1.5rem 1rem; font-size: 1.8rem; width: 11rem; margin-top: 1.8rem;}

  /* footer */
.fnumber>ul{overflow: visible; margin-top: 0rem;}
.fnumber>ul>li{float: none; margin-right: 0rem;}
}


@media screen and (max-width: 1350px) {
  /* banner */
  .banner-bg2>.banner-text p{font-size: 6rem;}
  .banner-text p.first{margin-top: 5rem;}
  .banner-bg2 .banner-img2 .goobne-menu-btn.btn1{width: 15rem; height: 6rem; font-size: 3rem;  top: 30rem; left: 5rem;}
  .banner-bg2 .banner-img2 .goobne-menu-btn.btn2{width: 15rem; height: 6rem; font-size: 3rem; top: 7rem; right: 5rem;}
  .banner-bg2 .banner-img2 .goobne-btn.btn1{width: 23rem; height: 20rem; background-size: 100%; position: absolute; top: 3rem; left: -1rem; display: block;}
  .banner-bg2 .banner-img2 .goobne-btn.btn2{width: 21rem; height: 18rem; background-size: 80%; position: absolute; top: 23rem; right: -1rem;}
  .banner-bg2 .banner-img2 .goobne-btn span{font-size: 1.5rem; margin-bottom: 2rem; margin-left: 1rem;}
  .banner-bg2 .banner-img2 .goobne-btn span em{font-size: 2rem;}

  /* goobnews */
  .news-around{height: 28rem;}
  .goobnews-pc{padding: 5rem 0;}
  .news-around-wrap h2{margin: 1rem 0; font-size: 5rem;}
  .news-img{ width: 30rem; height: 28rem;}
  .news-img img{height: 28.5rem;}
  .news-title h3{font-size: 4rem; margin: 2rem 0;}
  .news-text.active p{width: 40rem;}
  .news-text p{width: 30rem; font-size: 2.5rem;}

  /* goobster */
  .goobster-wrap{height: 20rem;}
  .goobster-bg7 h2{font-size: 5rem; padding-left: 8.5rem;}
  .goobster-bg7 h2 img{width: 4.5rem;}

  /* goobtube */
  .goobtube h2{font-size: 5rem;}
  .nfmc{ margin: 4rem 0; height: 7rem;}
  .nfmc ul li{font-size: 2.5rem; width: 35rem;}

  .out-in-img.inner{width: 1024px;}
  .oii{height: 35rem;}
  .oii-img img{width: 43rem; height: 25rem;}
  .oii-text h3{font-size: 2.3rem;}
  .oii-text p{font-size: 1.8rem; margin-top: 1.5rem;}
  .oii-text a{padding: 0.7rem 1.5rem 1rem; font-size: 1.5rem; width: 10rem; margin-top: 1.5rem;}

  /* footer */
.fnumber>ul>li>.sub-text{font-size: 1.5rem; margin-right: 0.5em;}
.fnumber>ul>li>.tel{font-size: 2.8rem;}

.ftext{margin-top: 2.5rem;}
.ftext>ul>li>a{font-size: 1.3rem;}
}


@media screen and (max-width: 1024px) {
  /* header */
  #header{padding: 2rem 0;}
  #header>.inner{padding-top: 1rem;}
  .order-ob-wrap{top: -20%; left: -200%;}
  .menu ul li{margin-right: 4rem;}
  .menu ul li a{font-size: 1.5rem;}
  .more-btn img{width: 25px; height: 20px;}
  /* aside */
  .aside-lnb{max-width: 35rem;}
  .aside-inner{padding: 3rem; padding-left: 4rem;}
  .lesserafim_banner{display: block; margin-left: -4rem; margin-bottom: 7rem;}
  .lesserafim_banner img{width: 126%;}
  .aside-inner .aside-login a{font-size: 1.5rem;}
  .aside_scroll>ul>li>a{font-size: 2rem;}
  .depth>ul>li>a{font-size: 1.3rem;}
  /* banner */
  .banner-bg2>.banner-text p{font-size: 5rem;}
  .banner-bg2 .banner-img2{width: 80rem;}
  .banner-text p.first{margin-top: 5rem;}
  .banner-bg2 .banner-img2 .goobne-menu-btn.btn1{width: 13rem; height: 4rem; font-size: 2rem;  top: 30rem; left: 5rem;}
  .banner-bg2 .banner-img2 .goobne-menu-btn.btn2{width: 13rem; height: 4rem; font-size: 2rem; top: 7rem; right: 5rem;}
  .banner-bg2 .banner-img2 .goobne-btn.btn1{width: 200px; height: 180px;background-size: 100%; position: absolute; top: 3rem; left: -1rem; display: block;}
  .banner-bg2 .banner-img2 .goobne-btn.btn2{width: 180px; height: 150px;background-size: 80%; position: absolute; top: 23rem; right: -1rem;}
  .banner-bg2 .banner-img2 .goobne-btn span{font-size: 1.5rem; margin-bottom: 2rem; margin-left: 1rem;}
  .banner-bg2 .banner-img2 .goobne-btn span em{font-size: 2rem;}
  /* oven menu */
  .text-wrap-1 span{font-size: 4rem; margin-bottom: 2rem; }
  .text-wrap-1 span.first{padding-top: 15rem;}
  .food{width: 15rem; height: 15rem;}
  .food::after{height: 3rem; font-size: 1.5rem;}
  .chicken{margin-bottom: 2rem;}
  .pizza{margin-bottom: 2rem;}
  .img-wrap-1{ padding: 10rem 0 10rem 5rem;}
  .img-wrap-1-2{margin: 8rem 2rem 0;}
  /* goobnew */
  .goobnews-pc{padding: 2rem 0;}
  .news-around{height: 23rem;}
  .news-around-wrap h2{margin: 0.5rem 0; font-size: 5rem;}
  .news-img{ width: 25rem; height: 23rem;}
  .news-img img{height: 23rem;}
  .news-img img{height: 100%;}
  .news-text.active p{width: 35rem;}
  .news-title h3{font-size: 3rem; margin: 0.5rem 0;}
  .news-text p{width: 25rem; font-size: 2.5rem; }

  /* goobster */
  .goobster-wrap{height: 15rem;}
  .goobster-bg7 h2{font-size: 5rem;}
  .goobster-bg7 h2 img{width: 3.5rem;}

  /* goobtube */
  .goobtube h2{font-size: 4rem;}
  .nfmc{margin: 3rem 0; height: 5rem;}
  .nfmc ul li{font-size: 2rem; width: 28rem;}

  .out-in-img.inner{width: 768px;}
  .oii{height: 30rem;}
  .oii-img img{width: 28rem; height: 18rem;}
  .oii-text h3{font-size: 2rem;}
  .oii-text p{font-size: 1.5rem; margin-top: 1rem;}
  .oii-text a{padding: 0.4rem 1.3rem 0.7rem; font-size: 1.3rem; width: 8rem; margin-top: 1rem;}

  /* footer */
.footer-up{padding: 3rem 0 2.5rem; flex-wrap: wrap;}
}

@media screen and (max-width: 768px) {
  #header{padding: 1rem 0;}
  #header>.inner{padding: 0;}
  .menu{display: none;}
  .more-btn img{width: 30px; height: 25px;}

  /* banner */
  .banner-bg img.banner-bg-img{height: 80vh;}
  .banner-bg2{height: 80vh;}
  .banner-bg2>.banner-text p{font-size: 4rem;}
  .banner-bg2 .banner-img2{width: 40rem;}
  .banner-text p.first{margin-top: 4rem;}
  .banner-bg2 .banner-img2 .goobne-btn.btn1{width: 180px; height: 150px; top: 0rem; left: -6rem;}
  .banner-bg2 .banner-img2 .goobne-btn.btn2{width: 150px; height: 130px; top: 10rem; right: -6rem;}
  .banner-bg2 .banner-img2 .goobne-btn span{margin-right: 1rem;}
  .banner-bg2 .banner-img2 .goobne-menu-btn{width: 5rem; height: 2rem; font-size: 2rem;  }
  .banner-bg2 .banner-img2 .goobne-menu-btn.btn1{top: 16rem; left: -4rem;}
  .banner-bg2 .banner-img2 .goobne-menu-btn.btn2{top: 3rem; right: -4rem;}

  /* oven-menu */
  .text-wrap{display: none;}
  .img-wrap{display: none;}
  .oven-mobile{display: block; background: var(--base-beige);} 
  .oven-mobile h2{font-size: 5rem; font-weight: bold; color: var(--base-red); text-align: center; margin: 4rem 0;}
  .oven-slide-wrap{ padding: 3rem 0 5rem; margin: 0 auto; max-width: 96.7vw; width: 100%; overflow: hidden;}
  .mfood{width: 20rem; margin: 0 2.5rem; position: relative; border-radius: 10px;}
  .mfood::after{position: absolute; bottom: 0; left: 0; width: 100%; height: 4rem; background: rgba(0, 0, 0, 0.5); text-align: center; font-size: 2rem; font-weight: bold; color: var(--text-white);}
  .mchicken::after{content: "Chicken";}
  .mdessert::after{content: "Dessert";}
  .mpizza::after{content: "Pizza";}
  .mbest_set::after{content: "Best set"}
  .mfood:nth-child(2n){margin-top: 5rem;}
  .mfood img{width: 100%; border-radius: 10px;}

  /* goobnews */
  .goobnews-pc{display: none;}
  .goobnews-m{display: block; text-align: center; background: var(--base-beige);}
  .goobnews-m .inner{background: none; width: 100%;}
  .goobnews-m h3{font-size: 4.5rem; color: var(--base-red); margin-bottom: 3rem;}
  .goobnews-m ul{display: flex; flex-direction: column;}
  .goobnews-m ul>li{display: flex; flex-basis: 30%; margin-bottom: 1rem; padding-bottom: 1rem; text-align: left; align-items: center; border-bottom: 1px solid #000;}
  .goobnews-m ul>li .mgoobnews-img{width: 10rem; padding-right: 2rem;}
  .goobnews-m ul>li .mgoobnews-img img{width: 10rem;}
  .goobnews-m ul>li .mgoobnews-text{flex-basis: 70%;}
  .goobnews-m ul>li .mgoobnews-text h4{font-size: 2.5rem;}
  .goobnews-m ul>li .mgoobnews-text p{font-size: 2rem;}

  /* goobster */
  .goobster-wrap{height: 13rem;}
  .goobster-bg7 h2{font-size: 4rem;}
  .goobster-bg7 h2 img{width: 3rem;}

  /* goobtube */
  .goobtube h2{font-size: 4rem;}
  .nfmc{margin: 3rem 0; height: 5rem;}
  .nfmc ul li{font-size: 2rem; width: 28rem;}

  .out-in-img.inner{width: 690px;}
  .oii{height: 25rem;}
  .oii-img img{width: 23rem; height: 15rem;}
  .oii-text h3{font-size: 1.8rem;}
  .oii-text p{font-size: 1.3rem; margin-top: 0.8rem;}
  .oii-text a{padding: 0.4rem 1rem 0.7rem; font-size: 1rem; width: 6rem; margin-top: 0.8rem;}

    /* footer */
.footer-up{flex-direction: column;}
.fnumber>ul>li{float: left; margin-right: 2rem;}
.ftext>ul, .ficon>ul{justify-content: start;}
}