@import url(./root.css);

/* layout */
#header{width: 100%; padding: 3rem 0; background: var(--base-beige);}

/* header */
#header>.inner{padding-top: 2rem;}
.header{height: 100%;}
.menu ul{margin: 0 !important;}
.menu ul li{margin-right: 7rem;}
.menu ul li a{font-size: 2rem; font-weight: 600;}
.more-btn img{width: 30px; height: 30px;}














@media screen and (max-width: 1024px) {
    /* header */
    #header{padding: 2rem 0;}
    .menu ul li{margin-right: 4rem;}
    .menu ul li a{font-size: 1.5rem;}
    .more-btn img{width: 25px; height: 20px;}
}

@media screen and (max-width: 768px) {
    #header{padding: 1rem 0;}
    .menu{display: none;}
    .more-btn img{width: 30px; height: 25px;}
}